@font-face {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  src: local("Helvetica Neue"),
    url("/static/font/helvetica-neue-normal.woff") format("woff");
}

@font-face {
  font-family: "Helvetica 65 Medium";
  font-style: normal;
  font-weight: 700;
  src: local("Helvetica 65 Medium"),
    url("/static/font/helvetica-neue-heavy.woff") format("woff");
}

@font-face {
  font-family: "Helvetica 45 Light";
  font-style: normal;
  font-weight: 400;
  src: local("Helvetica 45 Light"),
    url("/static/font/helvetica-neue-light.woff") format("woff");
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica 45 Light", sans-serif;
  margin: auto;
  max-width: 95%;
  height: 100%;
}
@media (min-width: 1366px) {
  body {
    max-width: 70%;
  }
}
.app-icon-container,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: min-content;
}
.container {
  width: 70%;
  margin: auto;
  padding: 1rem 0;
}
.apps,
.bookmarks,
.title {
  font-family: "Helvetica Neue", sans-serif;
  padding: 1rem 0;
  margin: 0;
}
.apps,
.bookmarks {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.app-icon {
  width: auto;
  display: block;
  padding: 10px;
  font-family: "Material Icons";
  font-feature-settings: "liga";
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  text-rendering: optimizeLegibility;
}
.app-container {
  display: flex;
}
.app-link {
  font-size: 0.65rem;
}
.app-title,
.group-title {
  font-size: 1rem;
  font-family: "Helvetica 45 Medium", sans-serif;
}
.app-title,
.app-link,
.bookmark-link {
  display: block;
  text-decoration: none;
}
.app-link:hover,
.bookmark-link:hover {
  text-decoration: underline;
}
@media (prefers-color-scheme: dark) {
  body {
    color: #e3e5dc;
    background: #191f24;
  }

  .app-link,
  .bookmark-link {
    color: #aa7be0;
  }
}
@media (prefers-color-scheme: light) {
  body {
    color: #021627;
    background: #f0eee5;
  }
  .app-link,
  .bookmark-link {
    color: #8b85c1;
  }
}